
  #btCarro7{
    -fx-background-color: #FC743A;
    -fx-background-radius: 15;
    -fx-border-color: white;
    -fx-border-radius: 15px;  
    -fx-border-width: 2px;
  }

  #btCarro7:hover {
    -fx-background-color: #D75413;
  }

  #btCarro8{
    -fx-background-color: #FC743A;
    -fx-background-radius: 15;
    -fx-border-color: white;
    -fx-border-radius: 15px;  
    -fx-border-width: 2px;
  }

  #btCarro8:hover{
    -fx-background-color: #D75413;
  }
  
  #idIniciar {
    -fx-background-color: #FC743A;
    -fx-background-radius: 15;
    -fx-border-color: white;
    -fx-border-radius: 15px;  
    -fx-border-width: 2px;
  }

  #idIniciar:hover {
    -fx-background-color: #D75413;
  }


   #idReiniciar {
    -fx-background-color: #FC743A;
    -fx-background-radius: 15;
    -fx-border-color: white;
    -fx-border-radius: 15px;  
    -fx-border-width: 2px;
   }

   #idReiniciar:hover {
    -fx-background-color: #D75413;

   }


   #pausaCarro1 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;

   }
   #pausaCarro1:hover {
    -fx-background-color: #D75413;
   }

   #pausaCarro2 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #pausaCarro2:hover {
    -fx-background-color: #D75413;
   }

   #pausaCarro3 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #pausaCarro3:hover {
    -fx-background-color: #D75413;
   }
   #pausaCarro4{
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #pausaCarro4:hover {
    -fx-background-color: #D75413;
   }
   #pausaCarro5 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #pausaCarro5:hover {
    -fx-background-color: #D75413;
   }
   #pausaCarro6 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #pausaCarro6:hover {
    -fx-background-color: #D75413;
   }

   #pausaCarro7 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #pausaCarro7:hover {
    -fx-background-color: #D75413;
   }
   #pausaCarro8 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #pausaCarro8:hover {
    -fx-background-color: #D75413;
   }

   #sliderC1 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC1:hover {
    -fx-background-color: #D75413;
   }

   #sliderC2 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC2:hover {
    -fx-background-color: #D75413;
    
   }

   #sliderC3 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC3:hover {
    -fx-background-color: #D75413;
   }

   #sliderC4 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC4:hover {
    -fx-background-color: #D75413;
   }

   #sliderC5 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC5:hover {
    -fx-background-color: #D75413;
   }

   #sliderC6 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC6:hover {
    -fx-background-color: #D75413;
   }

   #sliderC7 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC7:hover {
    -fx-background-color: #D75413;
   }

   #sliderC8 {
    -fx-background-color: #FC743A;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10px;  
    -fx-border-width: 2px;
   }
   #sliderC8:hover {
    -fx-background-color: #D75413;
   }


  